//
// Homepage styles
//

.masthead {
  padding: 6em 0;
  background: radial-gradient(circle, lighten($primaryColor, 3%), $primaryColor);

  .ui.header {
    color: darken($primaryColor, 15%);
    text-shadow: 0px -1px rgba(#000, 0.05), 0px 1px rgba(#fff, 0.1);
    font-family: Roboto, sans-serif;
    font-weight: lighter;

    &.projectname {
      font-size: 9em;
      text-transform: lowercase;
      letter-spacing: -0.05em;
    }

    & > a {
      color: darken($primaryColor, 20%);
      text-decoration: underline;
    }
  }

  @media (max-width: 992px) {
    & {
      font-size: 0.5em;
    }
  }
}

.homepage {

  .ui.vertical.segment:not(.footer) {
    padding: 5em 0;
    font-size: 1.4rem;

    .ui.list {
      margin-left: 2.5rem;

      & > li::before {
        margin-left: -2.5rem;
      }
    }

    .ui.text.container {
      font-size: 1.4rem;

      p {
        margin-top: 2em;
        margin-bottom: 2em;
      }
    }
  }

  .list.steak.commands {
    .item > .label:first-child {
      min-width: 11em;
      text-align: left;
      font-size: 0.8em;
      & > .icon {
        opacity: 0.4 ;
      }
    }
    .footnote.item {
      margin-top: 4em;
      text-align: right;
      font-size: 0.5em;
    }
  }

  .ui.piled.segment {
    z-index: 1; // required by semantic ui
  }

  .steak.sequence {
    margin: 2em 0;
    font-size: 0.8em;

    .ui.piled.segment > .ui.list {
      margin-left: 0;
    }
    .ui.segment {
      overflow: hidden;
    }
  }

  .ui.footer {
    .ui.horizontal.link.list {
      margin: 1em auto;
    }
    .ui.right.floated.button {
      margin-top: 0.4em;
    }
  }

} // .homepage
